
//raleway CSS
// --------------------------
// Ionicons CSS for Ionic's <ion-icon> element
// ionicons-icons.scss has the icons and their unicode characters

$raleway-font-path: $font-path !default;
$Raleway-SemiBold-font-path: $font-path !default;

@font-face {
  font-family: 'Raleway-Regular';
  src: local("Raleway Regular"), local("Raleway-Regular"),
  url("#{$raleway-font-path}/Raleway-Regular.eot?#iefix") format('embedded-opentype'),
  url("#{$raleway-font-path}/Raleway-Regular.woff") format('woff'), 
  url("#{$raleway-font-path}/Raleway-Regular.ttf") format('truetype'), 
  url("#{$raleway-font-path}/Raleway-Regular.svg#Raleway-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: local("Raleway SemiBold"),
  local("Raleway-SemiBold"),
  url("#{$raleway-font-path}/Raleway-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("#{$raleway-font-path}/Raleway-SemiBold.woff") format('woff'),
  url("#{$raleway-font-path}/Raleway-SemiBold.ttf") format('truetype'),
  url("#{$raleway-font-path}/Raleway-SemiBold.svg#Raleway-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
