
// Ionicons Icon Font CSS
// --------------------------
// Ionicons CSS for Ionic's <ion-icon> element
// ionicons-icons.scss has the icons and their unicode characters

$ralewaysb-font-path: $font-path !default;

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
  url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('Raleway-SemiBold.woff') format('woff'), 
  url('Raleway-SemiBold.ttf') format('truetype'), 
  url('Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


