// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



/* Navigation Styles */


/* Navigation Styles End */

/* Global Styles */

ion-app.md [padding] .scroll-content{
    padding: 0;
}

    .input-group {
      display: block;
      width: 100%;
      height: 40px;
      padding: .375em .75em;
      font-size: 1rem;
      line-height: 1.5;
      color: #ffffff;
      background-color: transparent;
      // background-clip: padding-box;
      border-style: none;
      font-size: 14px;
      border-bottom: 1px solid #ffffff;
      margin-bottom: .89em;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

      &::placeholder{
          font-family: 'Merriweather';
          font-size:14px;
          color: #ffffff;
      }
    }

    .btn {
      display: inline-block;
      margin: 4% 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: transparent;
      border: 1px solid #ffffff;
      padding: 0.425em;
      width: 100%;
      color: #ffffff;
       font-family: 'Merriweather';
      font-size: 1.2em;
      line-height: 1.5;
      border-radius: 2.9em;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }